* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: chartreuse;
}

li{
    list-style: none;
    margin: 5px 0 20px 0;
    color: tomato;
    font-size: 40px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
}

label{
    font-size: 25px;
    margin: 20px 20px 20px 20px;
    color: violet;
}

button{
    background-color: violet;
    font-size: 20px;
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
}